html,body{
    margin:0;
    height: 100%;
}

body{
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area{
    border-bottom: 1px solid lightgray;
}

.task-tabs{
    display: flex;
    border: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 0px;
    left: 0px;
    top:0px;
    padding:0px;
    transition: 0.5s;
}

section:first-child{
    display: flex;
}

section:nth-child(2){
    display: flex;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.task-done{
    text-decoration: line-through;
    background-color: #e0e0e0; 
    color: #666;
}

.task-text{
    padding: 1rem;
}

.task-done .button-box {
  background-color: white;
}

.button-box {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.button-box button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.check-icon {
  color: green !important;
}

.delete-icon {
  color: red !important;
}

.undo-icon {
  color: gray !important;
}

.task-tabs div{
    cursor:pointer;
}