* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  min-height: 100vh;
}

.container {
  max-width: 460px;
  margin: 40px auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
}


h1 {
  font-size: 2.4rem;
  text-align: center;
  color: #4b4b4b;
  margin-bottom: 18px;
  font-weight: bold;
}


.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 12px 14px;
  border: 2px solid #d1d5db;
  border-radius: 12px;
  font-size: 16px;
  transition: 0.3s;
}

#task-input:focus {
  outline: none;
  border-color: #8b5cf6;
  box-shadow: 0 0 8px rgba(139, 92, 246, 0.3);
}

#add-button {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background-color: #8b5cf6;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#add-button:hover {
  background-color: #7c3aed;
  transform: scale(1.05);
}


/* .task-tabs {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 45px;
  margin-bottom: 15px;
  color: #6b7280;
  font-weight: 600;
  cursor: pointer;
}

.task-tabs div {
  padding: 12px 0;
  width: 33%;
  text-align: center;
} */

/* #under-line {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 2px;
  background: #8b5cf6;

  border-radius: 20px;
  transition: 0.3s ease;

  width: 0;

  display: block;            
  pointer-events: none;   
} */


.task-tabs {
    cursor: pointer;
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 45px;
}

.task-tabs div {
  flex: 1;
  text-align: center;
  line-height: 45px;
}

#under-line {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 2px;
  width: 0;

  background: #8b5cf6;
  border-radius: 20px;

  transition: 0.3s ease;

  pointer-events: none;
  flex: none;
}



#task-board {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 14px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.05);
  padding: 12px 14px;
  transition: 0.2s;
}

.task:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 18px rgba(0,0,0,0.08);
}

.task-done {
  text-decoration: line-through;
  background: #e5e7eb;
  color: #6b7280;
}


.button-box {
  display: flex;
  gap: 8px;
}

.button-box button {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.button-box button:hover {
  transform: scale(1.3);
}

.check-icon {
  color: #22c55e;
}

.delete-icon {
  color: #ef4444;
}
